@import "~bootstrap/scss/bootstrap";
@import "~select2/dist/css/select2.min.css";
@import "flat-form";

.homepage-banner
{
  position: relative;
  background: #001f60;
  .banner
  {
    background-image: url("/assets/img/homepage.jpg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}